body {
	background: #000 !important;
}


/**** Button Styles ****/

/* Buttons */
button,
input[type="submit"],
input[type="button"],
input[type="reset"],
a.button {
	background: #c93f3f; /* Old browsers */
	background: -moz-linear-gradient(top,  #c93f3f 0%, #a01818 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c93f3f), color-stop(100%,#a01818)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c93f3f 0%,#a01818 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c93f3f 0%,#a01818 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c93f3f 0%,#a01818 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c93f3f 0%,#a01818 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c93f3f', endColorstr='#a01818',GradientType=0 ); /* IE6-9 */
	border: none;
	border-bottom: 3px solid #7e1010;
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	padding: 11px 24px 10px;
	text-decoration: none;
}

button:hover,
button:focus,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
a.button:hover, a.button:focus {
	background: #af3838; /* Old browsers */
	background: -moz-linear-gradient(top,  #af3838 0%, #771111 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#af3838), color-stop(100%,#771111)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #af3838 0%,#771111 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #af3838 0%,#771111 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #af3838 0%,#771111 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #af3838 0%,#771111 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af3838', endColorstr='#771111',GradientType=0 ); /* IE6-9 */
	border-bottom: 3px solid #6b0b0b;
}

button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active, a.button:active {
	background: #af3838; /* Old browsers */
	background: -moz-linear-gradient(top,  #af3838 0%, #771111 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#af3838), color-stop(100%,#771111)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #af3838 0%,#771111 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #af3838 0%,#771111 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #af3838 0%,#771111 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #af3838 0%,#771111 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af3838', endColorstr='#771111',GradientType=0 ); /* IE6-9 */
	border: none;
	border-top: 3px solid #961515;
	padding: 10px 24px 11px;
}

a.button.blue{
	background: #5598d1; /* Old browsers */
	background: -moz-linear-gradient(top,  #5598d1 0%, #4a82b1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5598d1), color-stop(100%,#4a82b1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5598d1 0%,#4a82b1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5598d1 0%,#4a82b1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5598d1 0%,#4a82b1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5598d1 0%,#4a82b1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5598d1', endColorstr='#4a82b1',GradientType=0 ); /* IE6-9 */
	border-bottom: 3px solid #3a6488;
	color: #fff;
	padding: 0.5em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 16px;
}
#page .featureCaption a.button.blue {
	color: #fff;
	padding: 1.2em;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	font-weight: 300;
	font-family: "Raleway";
	letter-spacing: 1px;
	margin-top: 1em;
}

.feedbackForm {
	position: fixed;
	top: 20%;
	bottom: 20%;
	left: 20%;
	right: 20%;
	z-index: 20;
	background: #fff;
	min-height: 20px;
	transition: 0.4s;
	padding: 2em;
	border-radius: 6px;
	overflow: auto;
	box-shadow: 0px 1px 90px rgba(0,0,0,0.7);
}

.gform_body ul {
	list-style: none;
}

.gform_body ul li {
	margin-bottom: 1em;
}

.feedbackformoverlay {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 19;
	background: rgba(0,0,0,0.5);
	min-height: 20px;
	transition: 0.4s;
}



.feedbackForm.showForm, .feedbackformoverlay.showForm {
	display: block !important;
}

a.feedbackbutton {
	float: right;
	display: inline-block;
	color: rgba(255,255,255,0.6);
	padding: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border: 1px solid rgba(255,255,255,0.5);
	border-radius: 4px;
}

a.feedbackbutton:hover {
	color: rgba(0,0,0,0.9);
	background: rgba(255,255,255,0.5);
	text-decoration: none;
}


a.button.blue:hover,
a.button.blue:focus {
	background: #5598d1; /* Old browsers */
	background: -moz-linear-gradient(top,  #5598d1 0%, #3a6488 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5598d1), color-stop(100%,#3a6488)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5598d1 0%,#3a6488 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5598d1 0%,#3a6488 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5598d1 0%,#3a6488 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5598d1 0%,#3a6488 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5598d1', endColorstr='#3a6488',GradientType=0 ); /* IE6-9 */
	border-bottom: 3px solid #2e4e68;
	text-decoration: none;
}



a.button.blue:active {
	border: none;
	border-top: 3px solid #4c86b7;
}


/**** End Button Styles ****/



#primary a, a code {
	color: #4da7ea;
}

#branding .headerCentered {
	position: relative;
}

.headerbgBlur, .headertransition {
		display: none;
}

.home .headerPhotoBg {
	z-index: 1 !important;
}

.home div.contrastmask2 {
	bottom: 0px;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
	/*background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 66%,rgba(255,255,255,0.9) 82%,rgba(255,255,255,1) 100%);*/ /* W3C */
}



div.contrastmask2 {
	bottom: 10px;
	height: 500px;
	z-index:2;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */

}


.columnContent {
	color: rgba(255,255,255,0.8) !important;
	font-size: 1.2em;

	a {
		color: #5598d1 !important;
	}
}

.single #content, .page #content, .search-results #content, .archive #content, .error404 #content, .search-no-results #content {
	box-shadow: none !important;
	border-radius: 2px !important;
}

.mapList ul, .mapList li, .mapGraphic ul, .mapGraphic li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.menu-anchored-menu-container {
	margin-top: 6px;
}

.relative {
	position: relative;
}

.mapList {
	position: relative;

	.locationList {
		display: none;
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		z-index:20;
		background: rgba(0,0,0,0.7);
		overflow: auto !important;
		-webkit-overflow-scrolling: touch;
		max-height: 450px;
		transform: translateZ(0);

		
	}



}



.mapList ul {
	border: 1px solid rgba(255,255,255,0.2);
	border-radius: 2px;

}

.mapList li {
	a {
		display: block;
		border-bottom: 1px solid rgba(255,255,255,0.2);
		padding: 0.7em;

		font-size: 1.2em;
		color: rgba(255,255,255,0.8);
		font-weight: 300;
		transition: 0.4s padding;
	}

	a:hover {
		background: rgba(255,255,255,0.1);
		text-decoration: none;
		padding-left: 2em;
		/*color: #309ced;*/
	}

}

.mapList li:last-child a {
		border-bottom: none;
}

.mapGraphic a span {
	display: inline-block;
	width: 8px;
	height: 8px;

	margin-right: 1.5em;

}


.mapGraphic {

.locationButton {
	display: inline-block;
	position: relative;

a.locationTrigger {
	display: block;
	text-decoration: none;
	position: absolute;
	top: -22px; 
	margin-top:0px;
	margin-left: 8px;
	line-height: 0.1em;
	padding: 1em;
	width: 20px;
	height: 20px;
	transition: 0.3s;
	border-radius: 3px;
	color: rgba(255,255,255,0.8);
	border: 1px solid rgba(255,255,255,0);


	svg {
	
		height: 1.2em;
		width: 1.2em;
		margin-top: -8px;
		margin-left: -9px;

		polygon {
			fill: #4da7ea;
		}
	}

}



a.locationTrigger:hover {
	display: block;
		text-decoration: none;
		position: absolute;
		top: -20px; 
		margin-top:0px;
		margin-left: 8px;
		line-height: 0.1em;
		padding: 1em;
		width: 20px;
		height: 20px;
		border: 1px solid #4da7ea;

		color: rgba(255,255,255,0.8);

		svg {
			height: 1.2em;
			width: 1.2em;
			margin-top: -8px;
			margin-left: -9px;

		polygon {
			fill: #4da7ea;
		}
	}

}

}

}

.mapGraphic .dot svg {
	max-height: 25px;
	max-width: 40px;
}

.mapGraphic a {
	color: rgba(255,255,255,0.6);
	display: block;
}

.mapGraphic a svg .mapPinInner, .mapGraphic a svg {
		transition: 0.3s;
}

.mapGraphic a.hovered svg .mapPinInner, .mapGraphic a:hover svg .mapPinInner {
		fill: rgba(255,255,255,0.7);

}

.mapGraphic .points a.hovered svg, .mapGraphic .points a:hover svg {
	transform: scale(1.4);
}

.mapGraphic a.hovered, .mapGraphic a:hover {
	color: #1982d1;
	text-decoration: none;
	z-index:10;
}

.mapGraphic {
	position: relative;
}

#primary .points a {
	color: rgba(255,255,255,0.5);
}

#primary .points a:hover {
	color: #4da7ea;
}

.mapGraphic .points {


	a {
		font-weight: 500;
		font-size: 0.9em;
		text-transform: uppercase;
		position: absolute;
		text-indent: -6px;
		color: rgba(255,255,255,0.5);
	}




	.arlington {
		top: 76%;
		left: 57%;
	}

	.dairyforage {
		top: 74%;
		left: 43%;
	}

	.madison {
		top: 82.5%;
		left: 54%;
		display: none;
	}

	.greenhouses {
		top: 82.5%;
		left: 54%;
	}

	.wmadison {
		top: 82%;
		right: 46%;
	}

	.noer {
		top: 86%;
		left: 51%;
	}

	.lancaster {
		top: 87%;
		left: 34%;
	}

	.hancock {
		top: 65%;
		left: 55%;
	}

	.marshfield {
		top: 57%;
		left: 35%;
	}

	.peninsular {
		top: 45%;
		right: 6.5%;
	}

	.spooner {
		top: 36%;
		left: 20%;
	}

	.kemp {
		top: 33%;
		left: 55%;
	}

	.rhinelander {
		top: 39%;
		left: 60%;
	}


}

.row {

	.span-50 {
		float: left;
		margin-bottom: 1em;
		box-sizing: border-box;
		padding: 2em;
	}

	.span-33 {
		float: left;
		margin-bottom: 1em;
		box-sizing: border-box;
		padding: 2em;
	}

	.span-100 {
		box-sizing: border-box;
margin-bottom: 1em;
	}

}

/*********************/
/* Clear Fix         */
/*********************/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.row:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.row {
    *zoom: 1;
}


.row {

  .span-25 {
    float: left;
    width: 25%;
    margin-right: 0%;
  }

  .span-50 {
    float: left;
    width: 50%;
    margin-right: 0%;
  }

  .span-75 {
    float: left;
    width: 75%;
    margin-right: 0%;
  }

  .span-33 {
    float: left;
    width: 33%;
    margin-right: 0%;
  }

  .span-66 {
    float: left;
    width: 66%;
    margin-right: 0%;
  }


}

#page #branding #access.fixedNav {
	position:fixed;
	top: 0px;
	width: 100%;	
	background: rgba(0,0,0,0.7);
	padding: 1em;
}

#page #branding {
	padding-bottom: 60px;
}


.imageOverlay {
	position: absolute;
	top: -2px;
	left: 0px;
	right: 0px;
	bottom: -2px;
	z-index:1;
	background: rgba(0,0,0,0.25);
}

.boxContent {
	position:relative;
	z-index:2;
}


.mapGraphic svg {
	max-height: 500px;
}

.mapGraphic .statefill {
	fill: rgba(255,255,255,0.2);
}

.mapGraphic .stateoutline {
	fill: rgba(255,255,255,0.2);
}

.stateGraphic {
	fill: transparent;
}

.outlinebox {
	border: 1px solid rgba(255,255,255,0.2);
	padding: 2em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	min-height: 200px;
}

#access ul {
	float: right;
}

#page #branding #access {
	float: none;
	position: absolute;
	top: 20px;
	right: 0px;
	box-shadow: none !important;
	width: 50%;
	z-index:3;
}

.logoImage {
	display: block;
	width: 45%;
}



.logoImage img {
	width: 100%;
}

#page #branding .headeroverlay, #page #branding nav, .sideBarNav .main-navigation {
	background: transparent;

}


.sectionHeading, .sectionHeading.first {
	font-family: "Open Sans";
	font-size: 15px;
	letter-spacing: 3px;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	display: block;
	color: rgba(255,255,255,0.7);
	border-bottom: 1px solid rgba(255,255,255,0.2);
	padding-bottom: 20px;
	margin-bottom: 20px;
	margin-top: 0px;
	position: relative;
}

.sectionHeading svg {
	max-height: 1.2em;
	max-width: 1.2em;

	path {
		fill: rgba(255,255,255,0.3);
	}
}

.sectionHeading {
	margin-top: 40px;
}

nav#access ul li a:link, nav#access ul li a:visited {
	color: rgba(255,255,255,0.9);
	border: 1px solid rgba(255,255,255,0.0);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

}

nav#access ul.sub-menu li a:link, nav#access ul.sub-menu li a:visited {
	background: rgba(0,0,0,0.0);
	border-bottom: 1px solid rgba(255,255,255,0.15);
	display:block;

}

nav#access ul.sub-menu {
	background: rgba(0,0,0,0.6);
	width: 268px;
}

nav#access ul.sub-menu li a:hover {
	background: rgba(255,255,255,0.1);
	border: none;
}

nav#access ul ul {
	box-shadow: none;
}

nav#access ul li a:hover {
	border: 1px solid rgba(255,255,255,0.8);
	background: transparent;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 0px;
	margin-right: 0px;
}

nav#access ul li {
	margin-right: 1em;
	margin-bottom: 0.4em;
}

nav#access ul li.menu-item-has-children > a  {
	background: url("svg/downarrow.svg") no-repeat;
	background-position: 90% center;
	background-size: 1.3em;
	padding-right: 2.3em;

}

nav#access ul li ul.sub-menu li {
	margin-right: 0px;
	margin-bottom: 0px;
}

nav#access .current_page_item>a:link, nav#access .current_page_item>a:visited {
	background: transparent !important;
	border: 1px solid rgba(255,255,255,0.8);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

nav#access li:hover > a,
nav#access a:focus {

	background: rgba(0,0,0,0.4);
	color: #373737;
	border: 1px solid rgba(255,255,255,0.4);
	margin-left: 0px;
	margin-right: 0px;

}


div.navWrapper .menu {
	padding-right: 0px;
}

.collegeFeature .slideBlur {
	overflow: visible !important;
	background: transparent !important;
}

.collegeFeature .slideBlurImage {
	margin: auto !important;
	height: 100% !important;
	background-position: 0% 0% !important;
	-moz-mask-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 34%, rgba(0,0,0,1) 63%, rgba(0,0,0,1) 100%); /* FF3.6+ */
-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(34%,rgba(0,0,0,0)), color-stop(63%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
-webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 34%,rgba(0,0,0,1) 63%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
-o-mask-image: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 34%,rgba(0,0,0,1) 63%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
—ms-mask-image: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 34%,rgba(0,0,0,1) 63%,rgba(0,0,0,1) 100%); /* IE10+ */
mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 34%,rgba(0,0,0,1) 63%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

.Firefox .collegeFeature .slideBlurImage {
	display: none;
	
}

.collegeFeature .slideImage, .collegeFeature li, .collegeFeature ul, .collegeFeature {
	height: 600px !important;
}

.home #content {
	background: transparent !important;
	box-shadow: none !important;
	padding: 0px !important;
	color: #fff;
	min-height: 0px !important;
}

.headerPhotoBg, .collegeFeature {
	height: 600px !important;
}

.home .collegeFeature li .featureCaption, .home .iosSlider .featureCaption {
	bottom: 300px !important;
	text-align: center;
}

.collegeFeature li .featureCaption h2, .iosSlider h2 {
	font-family: "Raleway" !important;
	-webkit-font-smoothing: subpixel-antialiased !important;
}

.featuresubtitle {
	max-width: 400px;
	margin: 0 auto;
}


#access .globalSearch {
	top: -58px;
	right: 0px;
	width: 206px;
	height: 40px;

	z-index:15;

}

#branding #access #searchform {
	right: 0px;
	border-left: none;


}

.navWrapper {
	margin-right: -1em;
}

footer div.inner {
		padding-top: 80px;
}

#branding #access #s {
	border-left: none;
	width: 130px;
	padding-top: 10px;
	padding-bottom: 8px;
}

#branding #access #s {
	background-color: rgba(255,255,255,0.2);
	-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	transition: 0.4s;
	height: 38px;
}

#branding #access #s:focus {
	border-left: none;
	width: 200px;
	background-color: rgba(255,255,255,0.6);
	-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-transition: 0.4s;
-moz-transition: 0.4s;
transition: 0.4s;
}

nav#access .filtered ul li a:link, nav#access .filtered ul li a:visited {
	color: rgba(0,0,0,0.8);
}


div#main {
		margin-top: -420px;
}

div.headershade {
	background: #000;
}


.home.page-template-default #content, .home.page-template-page-nosidebar-php #content {
	background: #fff !important;
	padding: 30px !important;
}

div#page {
	/*background: url("img/farmglyphs_bg.png") no-repeat;
	background-size: 100%;
	background-position: bottom center;*/
}

.spacer {
	height: 5em;
}

.collegeFeature li .featureCaption .centered, .iosSlider .featureCaption .centered {
	max-width: 940px;
	width: 100% !important;
	margin: 0 auto;
}

.locationListHeader {
  	position: relative;
	
	z-index: 20;


	a.locationTrigger2.visible {
		
		opacity: 1;
		top: 0px;
	}

	a.locationTrigger2 {
	
	opacity: 0;
	text-decoration: none;
	position: absolute;
	top: -20px;
	left: 57px; 
	margin-top:0px;
	margin-left: 8px;
	line-height: 1.2em;
	padding: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	transition: 0.3s;
	border-radius: 3px;
	color: rgba(255,255,255,0.8);
	border: 1px solid rgba(255,255,255,0.6);

	.stationSelect {
		float: left;
	}


	svg {
		float: left;
		height: 1.2em;
		width: 1.2em;
		
		margin-left: 8px;

		polygon {
			fill: rgba(255,255,255,0.8);
		}
	}

}



	a.locationTrigger2:hover {
	display: block;
		
		border: 1px solid rgba(255,255,255,0);

		color: rgba(0,0,0,0.7);
		background: rgba(255,255,255,0.6);

		svg {
			

			polygon {
				fill: rgba(0,0,0,0.7);
			}
		}

	}

	.mapList {
		.locationList2 {
			
			top: 34px;
			max-width: 300px;
			left: 65px;
			z-index:30;

			display: none;
			position: absolute;
			
			right: 0px;
			z-index:20;
			background: rgba(255,255,255,0.94);
			overflow: auto !important;
			-webkit-overflow-scrolling: touch;
			max-height: 430px;
			transform: translateZ(0);
			box-shadow: 0px 1px 5px rgba(0,0,0,0.4);

			a {
				color: rgba(0,0,0,0.9);
				border-bottom: 1px solid rgba(0,0,0,0.1);
			}
		}
	}

}






.sideBarNav {
  display: block;

  position: fixed;
  top: 0px;
  right: -300px;
  width: 300px;
  height: 100%;
  z-index:50;
  background: #000;
  color: #fff;
  padding: 2em;
  transform: translate3d(0px,0px,0px);
    transition: all 0.4s ease;

    .sidebarLocation {
    	position: absolute;
    	bottom: 3em;
    	left: 3em;
    	right: 3em;
    	z-index:1;
    	color: rgba(255,255,255,0.3);
    }


  a.sideBarClose {
    color: rgba(255,255,255,0.4);
    outline: none;
    display: block;

    height: 50px;
    text-decoration: none;
    font-family: "Raleway",sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    transition: 0.3s;

    svg {
      width: 1.8em;
      height: 1.8em;
      float: left;
      margin-top: -1px;
      margin-right: 0.4em;

      path, rect, circle, polygon {
        fill: rgba(255,255,255,0.4);
        transition: 0.3s;

      }
    }



  }

  a.sideBarClose:hover {
    color: rgba(255,255,255,0.8);
    outline: none;
    display: block;

    height: 50px;
    text-decoration: none;
    font-family: "Raleway",sans-serif;


    svg {
      width: 1.8em;
      height: 1.8em;
      float: left;
      margin-top: -1px;
      margin-right: 0.4em;
      path, rect, circle, polygon {
        fill: rgba(255,255,255,0.8);

      }
    }

  }

  

  nav {
		.menu {
			overflow-y: scroll;

	    li {
	      float: none;

				ul.sub-menu {
					display: none;
				}

	      a {
					display: block;
					float: none;
	        color: #fff;
	        font-weight: 300;
	        font-size: 1.5em;
	        padding-top: 0.8em;
	        padding-bottom: 0.8em;
	        border-bottom: 1px solid rgba(255,255,255,0.1);
	        -webkit-font-smoothing: antialiased;


	      }
	    }
		}
  }

}

.sideBarNav.navVisible {
  display: block;

transform: translate3d(-300px,0px,0px);

}



.siteWrapper {
  transition: 0.4s;




}

.siteWrapperOverlay {
  background: rgba(0,0,0,0);
  position:fixed;
  top: 0px;
  left: 0px;
  height: 0%;
  width: 0%;
  z-index:40;
  transition: background 0.4s;
}

.siteWrapperOverlay.navVisible {
  background: rgba(0,0,0,0.3);

  height: 100%;
  width: 100%;

transition: background 0.4s;
}

.siteWrapper.navVisible {
  transform: translate3d(-40px,0px,0px);
  filter: blur(4px);



}

.menuTrigger, .menuTrigger:visited {
  float: right;
  padding: 0.6em;
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  font-family: "Raleway";
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  border: 1px solid rgba(255,255,255,0);
  border-radius: 3px;
  transition: 0.3s;

  svg {
    margin-right: 4px;
    height: 100%;

    path, rect, circle {
      fill: rgba(255,255,255,0.8);
    }
  }
}

.menuTrigger:hover {
  float: right;
  padding: 0.6em;
  color: rgba(255,255,255,0.8);
  border: 1px solid rgba(255,255,255,0.8);

  font-size: 1.2em;
  text-decoration: none;
  font-family: "Raleway";
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;


  svg {
    margin-right: 4px;
    height: 100%;

    path, rect, circle {
      fill: rgba(255,255,255,0.8);
    }
  }
}

#site-navigation {
  .menu {
    ul.children {
      display: none;
      position: relative;
      float: none;
      top: 0px;
      left: 0px;
      padding-left: 8%;
      box-shadow: none;
      background: rgba(0,0,0,0.1);
    }

    .expandLink {
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      width: 60px;
      height: 60px;
      z-index:5;
      font-size: 0px;
      color: transparent;
      border-bottom: none;
      background: url("../../../dist/images/downarrow.svg") no-repeat;
      background-size: 50% 50%;
      background-position: center center;
      transition: transform 0.4s;
    }

    .expandLink:hover {

      background: url("../../../dist/images/downarrow_over.svg") no-repeat;
      background-size: 50% 50%;
      background-position: center center;
    }

    .expandLink.expanded {
      transform: rotate(180deg);
    }
  }
}


/**  Child them styles **/

/*#access .navWrapper .menu {
	padding-right: 0px;
}

#access .globalSearch {
	top: -60px;
	right: 0px;
	width: 206px;
	height: 40px;

	z-index:15;

}

#branding #access #searchform {
	right: 0px;
	border-left: none;
	background: rgba(255,255,255,0.6);
	-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

#branding #access #s {
	border-left: none;
	width: 70px;
}

#branding #access #s:focus {
	border-left: none;
	width: 200px;
}



div.headerPhotoBg {
	z-index:1;
}

ul.slides:after {
	display: none;
	content: none;
}

.home .events-table {
	color: #fff;
}

.home .events-table a {

color: #deb846;
line-height: 1.4em;
font-size: 14px;

}

.home .events-table tr td {
	padding-top: 1em;
}

.home .events-table thead tr th {
	font-weight: bold;
}



.boxContent h3.spotlight_title_small {
	font-size: 14px;
	margin-top: 0.5em;
	padding-top: 0.5em;
	border-top: 1px solid rgba(255,255,255,0.4);
}

.box.videos img {
	margin-top: -70px;
	height: 180% !important;
	width: auto !important;
}

footer#colophon .inner .copyright {
	margin-top: 20px;
}

footer#colophon .socialRef {
	margin-top: 80px;
}

.single #content.fullWidth {
	width: 940px;
}


/*** ICON FONTS FOR WEATHER ***/

/*@font-face {
		font-family: 'weather';
		src: url('https://dl.dropboxusercontent.com/u/2086809/weatherfont/artill_clean_icons-webfont.eot');
		src: url('https://dl.dropboxusercontent.com/u/2086809/weatherfont/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
				url('https://dl.dropboxusercontent.com/u/2086809/weatherfont/artill_clean_icons-webfont.woff') format('woff'),
				url('https://dl.dropboxusercontent.com/u/2086809/weatherfont/artill_clean_icons-webfont.ttf') format('truetype'),
				url('https://dl.dropboxusercontent.com/u/2086809/weatherfont/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
		font-weight: normal;
		font-style: normal;
}



#weather {

	position: relative;
	margin: 0 auto;
	margin-top: -220px;
	padding-right: 2em;
	z-index:50;

	text-align: right;
	text-transform: uppercase;
}

#weather i {
	color: #fff;
	font-family: weather !important;
	font-size: 34px !important;
	font-weight: normal;
	font-style: normal;
	line-height: 1.0;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

#weather h2 {
	margin: 0 0 8px;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	text-align: right;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#weather a {
	color: #fff;
	text-decoration: none;
}

#weather ul {
	margin: 0;
	padding: 0;
}

#weather li {
	background: #fff;
	background: rgba(255,255,255,0.90);
	padding: 20px;
	display: inline-block;
	border-radius: 5px;
}

#weather .currently {
	margin: 0 20px;
}

.gform_wrapper {
	display: block;

}*/

@media only screen and (min-width : 100px) {
	.row {
		.span-50 {
			width: 100%;
			float: none;
		}
	}
}

@media only screen and (min-width : 600px) {

}

@media only screen and (min-width : 800px) {
	.row {
		.span-50 {
			width: 50%;
			float: left;
		}
	}
}

@media only screen and (min-width : 1200px) {

}
